<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home Page</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all">
    
</head>
<body>
<h1> Welcome to the SQLAlchemy Tutorial</h1>

<form method="post" action="/login">
    <input type="text" name="usrname" placeholder="Enter User Name:">
    <br><br>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit" name="ok"/>
</form>
</body>
</html>
